* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
}

body {
  background-color: #e5dddd;
  background-image: url(../img/bg-small.png), url(../img/bg-image.jpeg);
  background-position: right top 110px, 50% 50%;
  background-repeat: no-repeat;
  background-size: 10%, cover;
}

h1 {
  margin: 0;
  padding-top: 40px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #89DE14;
}

h2 {
  color: #89DE14;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

fieldset {
  max-width: 500px;
  margin: 25px auto;
  background-color: #B96BD0;
  font-size: 1.1rem;
}

legend {
  transform: translateY(-10px);
  color: #89DE14;
  font-size: 1.2rem;
  font-weight: 400;
}

input {
  width: 100%;
  padding: 10px 20px;
}

input[name="lgn"] {
  text-transform: capitalize;
}

input[type="image"] {
  padding: 10px 0;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

.dotted-frame:hover {
  outline: 2px dotted black;
}

textarea {
  width: 100%;
  padding: 10px 20px;
  resize: vertical;
  min-height: 75px;
  max-height: 33vh;
}

.form-group:not(:first-of-type) {
  margin: 15px 0 5px;
}

.form-group-sm {
  margin: 10px 0 5px;
}

.btn {
  width: 100%;
  padding: 10px 20px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #8113A0;
  z-index: 10;
}

.header-container {
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
}

.header-navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-navbar__item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid black;
}

.header-navbar__item:last-of-type {
  border-right: none;
}

.header-navbar__link {
  font-weight: 500;
  color: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 0.1em;

}

.header-navbar__link:hover {
  text-decoration: underline;
}

.header-navbar__link--active {
  color: black;
}

.content {
  margin-top: 80px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.content-container {
  min-height: calc(100vh - 140px);
  width: 100%;
  max-width: 1280px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content__title {
  border-bottom: 2px dotted #ffffff;
}

.content-text__bg {
  background-color: #B96BD0;
  border-radius: 10px;
  padding: 5px;
}

.content-text__link-more {
  font-weight: 500;
  text-decoration: underline;
  transition: color 1s;
  font-style: italic;
  text-transform: uppercase;
  color: #CD1264;
}

.content-text__link-more:hover {
  text-decoration: none;
  color: black;
}

.content-text__link-comments {
  color: #BFBFBF;
  font-weight: 500;
  transition: color 1s;
  font-style: italic;
  text-transform: uppercase;
  transition: color 0.5s;
}

.content-text__link-comments:hover {
  color: black;
}


.content-article__title {
  text-align: center;
}

.content-article__letter::first-letter {
  font-size: 1.8rem;
  color: #CD1264;
  font-weight: 500;
  font-style: italic;
}

.content-list {
  max-width: 450px;
  background-color: #8113A0;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.content-item__icon1,
.content-item__icon3,
.content-item__icon5 {
  font-size: 1.8rem;
}

.content-item__icon2,
.content-item__icon4,
.content-item__icon6 {
  font-size: 1.3rem;
  background-color: #B145D0;
}

.content-item__icon1 {
  list-style-image: url("../img/flower_1.png");
}

.content-item__icon2 {
  list-style-image: url("../img/flower_2.png");
}

.content-item__icon3 {
  list-style-image: url("../img/toys_1.png");
}

.content-item__icon4 {
  list-style-image: url("../img/toys_2.png");
}

.content-item__icon5 {
  list-style-image: url("../img/book_1.png");
}

.content-item__icon6 {
  list-style-image: url("../img/book_2.png");
}

.content-item__new::after {
  content: "NEW";
  color: #ffffff;
  background-color: #89DE14;
  margin-left: 10px;
  padding: 5px;
  border-radius: 15px;
  font-weight: 600;
}

.bg-texture {
  min-height: 100vh;
  background-color: #e5dddd;
  background-image: url(../img/bg_textura.jpeg);
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
}

.content-galery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 992px;
  margin: auto;
  align-items: center;
}

.slide__image {
  border: 4px solid #CD1264;
  border-radius: 10px;
}

.slide__image:hover {
  border-color: transparent;
}

.slide__title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.content-contacts__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
}

.contacts__figcaption {
  text-align: center;
  font-size: 1.2rem;
}

.contacts__title {
  font-size: 1.2rem;
}


.content-navbar__list {
  display: flex;
}

.content-navbar__link {
  padding-right: 20px;
  font-size: 1.2rem;
  color: #BFBFBF;
  font-weight: 400;
}

.footer {
  min-height: 40px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #8113A0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.anchor {
  position: relative;
  top: -150px;
  z-index: 100;

}

.footer__copywrite {
  color: #ffffff;
  font-size: 1.2rem;
}